.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.footer__column-link:hover {
  opacity: 0.45;
}
