/*

help tegs

div {
  border: 2px solid rebeccapurple;
}

h1,h2,h3,h4,p {
  border: 1px solid rosybrown;
}

 */


.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* -- HEADER -- */

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
  background-color: #f2f2f2;
  overflow: hidden;
}

.flex-row {
  display: flex;
}

.logo {
  position: absolute;
  width: 228px;
  height: 32px;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  z-index: 2;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  z-index: 2;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  width: 388px;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/* -- CONTENT -- */

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Description section */

.description {
  justify-content: center;
  margin-top: 100px;
  background-color: #fff;
}

.two-columns {
  width: 80%;
  justify-content: space-between;

}

.two-columns__brief {
  width: 175px;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
 width: 80%;
 min-width: 784px;
 font-size: 24px;
 line-height: 34px;
 font-weight: normal;
}

.two-columns__paragraph {
 margin: 0 0 30px 0;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* Digits section */

.digits {
  margin-top: 100px;
  align-items: center;
}


.section-title {
  width: 60%;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {

  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-end;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0 0 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-of-type {
  margin: 0;
}

/* light theme */

.section_theme_light {
  color: #000;
}


/* Feynman section */

.feynman {
  position: relative;
  height: 890px;
  margin-top: 100px;
  align-items: center;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  margin: 100px 0 70px 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  padding: 2px 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__illustration {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Kaufman section */

.kaufman {
  position: relative;
  padding: 90px 0;
  align-items: center;
  background: #1f1f1f;
  color: #f2f2f2;
  overflow: hidden;
  z-index: 2;
}

.kaufman-illustration {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

/* dark theme */

.section_theme_dark {
  color: #f2f2f2;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}


/* --FOOTER-- */
